*{
    margin:0;
    padding: 0;
}
body{
    background-color: aqua;
}

#wrapper{
    width: 100%;
    margin:0 auto;
}
.v100{
    background-color: red;
    width:100%;
    height:100px;
}
.v200{
 width: 100%;
 height: 200px;
}
.p450{
    width: 50%;
    height:200px;
    background-color: green;
    float: left;

}
.yellow{
    background-color:yellow;
}

  @media (max-width :768px){
      body{
          background-color: black;
      }
  } 