.a{
    background-color: aliceblue;
    height:50%;
}
.b{
    background-color: pink;
    height:50%;
}
.c{
    background-color:red;
    height:50%;
}
.d{
    background-color: blueviolet;
    height:50%;
}
.e{
    background-color: green;
    height:50%;
}
.r{
    background-color:yellow;
    height:50%;
}
.t{
    background-color: magenta;
    height:50%;
}